*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Arial;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(images/cyberpunk-cityscape-digital-metropolis_332713-13442.jpg);
    
}

#a{
    color: #ffff00
}

#b{
    color: #000;
}

table, th, tr, td{
    border-collapse: collapse;
    text-align: center;
    border-style: solid;
    border-color: #0ff;
    border: 1px;

}

p, h3, li, ul{
    margin: 10px;
}

u{
    color: #a00;
}